<%- include ("./partials/header.ejs") %>
        <title>tomato</title>
    </head>
    <body>
        <%- include ("./partials/navbar.ejs") %>
        <p>Home-page</p>
    </body>
<%- include ("./partials/footer.ejs") %>